* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 100%;
    height: 768px;
    background-image: url(imagens/HeroBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 100%;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 100%;
    margin: 0;
    height: 140px;
    background-color: rgba(0, 0, 0, 40%);
    box-shadow: 0 0.1rem 0.5rem #3b3b3b;
}

.header:hover{
    background: #FEB206;
    transition: 0.5s;
}

.logo{
    width: 120px;
    height: auto;
    margin-left: 130px;
    margin-top: 15px;
}

li {
    display: flex;
    flex-direction: row;
    color: #fff;
    float: left;
    margin: 10px;
    gap: 0.5px;
}

.contato i {
    width: 22px;
    margin-bottom: 5px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    gap: 2px;
}

.location {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    padding: 0;
    float: right;
    margin-right: 200px;
}

menu {
    display: none;
}

#menu_icon {
    color: #ffffff;
    position: absolute;
    display: block;
    top: 1.2rem;
    right: 130px;
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 999999;
}

#menu_icon:hover {
    color: #000;
}

menu h1 {
    margin: 20px 5rem;    
    color: #ffffff;
}

.logo_menu {
    display: flex;
    gap: 2px;
    width: 63px;
    margin: 0px 6.5rem 15px;
    transform: rotate(360deg);
}

.itens_link {
    width: 268px;
    position: absolute;
    top: 1.2rem;
    right: 130px;    
    background: #FEB206;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    padding: 0px 0 10px;
    box-shadow: 0 0.1rem 0.5rem #3b3b3b;
}

.link a {
    display: flex;
    gap: 1px;
    padding-top: 12px;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 24px;
    font-size: 24px;
    border-top: 2px solid #00000036;
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}

li a {
    text-decoration: none;
}

#menu_principal {
    display: flex;
    gap: 1px;
    margin-left: 580px;
    margin-top: 30px;
    padding: 0;
    margin-bottom: 0;
}

.list a {
    display: flex;
    font-size: 28px;
    font-weight: 700;
    margin-top: -100px;
    padding: 10px auto;
    right: 0;
    list-style-type: none;
    cursor: pointer;
    color: #ffffff;
}

.list a:hover {
    color: #000;
}

.hero {
    width: 465px;
    height: 315px;
    margin-left: 180px;
    margin-top: 150px;
}

.heroTitle h1{
    margin-bottom: 60px;
    font-size: 34px;
    font-weight: 700;
    color: #FEB206;
    text-shadow: 1px 1px 2px #000000;
}

.heroSubtitle {
    font-size: 18px;
    margin-bottom: 60px;
    text-align: justify;
    text-shadow: 2px 2px 3px #ffffff;

}

.button {
    width: 270px;
    height: 60px;
    color: #fff;
    background-color: #FEB206;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.about_text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 375px;
    text-align: left;
    justify-content: flex-start;
}

.aboutSubtitle{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 15px;
}

.titleAbout {
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
    color: #FEB206;
}

.textAbout {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-left: 15px;
    width: 470px;
    height: 189px;
}

.squareAbout {
    position: absolute;
    transform: translate(100%, -55%);
    margin-top: -160px;
    margin-left: 490px;
    width: 360px;
    height: 360px;
    margin-bottom: 90px;
    border: #FEB206 solid 3px;
}

.imgAbout {
    position: absolute;
    margin-top: translate(100%);
    margin-left: 510px;
    transform: translate(100%, -105%);
    width: 360px;
    height: 360px;
    margin-bottom: 90px;
}

.testimony {
    margin-top: 90px;
    background-image: url(imagens/Testimony.png);
    background-size: cover;
    background-position: 50%;
    height: 250px;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.testimony .slide {
    padding: auto 60px;
    cursor: grab;
}

.testimony .slide:active {
    cursor: grabbing;
}

.testimony i {
    font-size: 75px;
    color: #FEB206;
    filter:drop-shadow( 1px 1px 2px #000000);
}

.testimony p.testimony_txt {
    font-size: 34px;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    filter:drop-shadow( 1px 1px 2px #424242);

}

.slide .person p.name_person{
    font-size: 24px;
    color: #FEB206;
    font-weight: 600;
    text-align: center;
    filter:drop-shadow( 1px 1px 2px #444444);
}

.services {
    text-align: center;
    width: 100%;
    height: 906px;;
    background: #322C36;;
}

.serviceSubtitle {
    padding-top: 90px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.serviceTitle {
    color: #FEB206;
    margin-top: -15px;
    font-size: 20px;
    font-weight: 500;
}

.modality {
    width: 1028px;
    height: 308px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.modalityService {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.nameModality {
    color: #fff;
    margin: 5px;
}

.iconService {
    width: 150px;
    height: 162px;
}

.textService {
    margin-top: 15px;
    width: 276px;
    height: 76px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.price {
    margin-top: -195px;
    margin-left: auto;
    margin-right: auto;
    width: 918px;
    height: 390px;
    background-color: #252127;
    display: flex;
    flex-direction: row;
}

.planPrice {
    color: #fff;
    text-align: center;
}

.planPrice h2 {
    text-transform: uppercase;
    margin-top: 15px;
}

.planPrice h4 {
    margin-top: 15px;
    font-size: 20px;
    color: #ffffffab ;
    text-transform: uppercase;
}

.planPrice h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 15px;
}

.planPrice h3 span {
    color: #ffffffab;
    font-size: 20px;
    font-weight: 500;
}

.planPrice p {
    color: #ffffffab;
    font-size: 12px;
    margin-top: -15px;
    margin-left: 10px;
}

.planPrice_p {
    margin-top: 50px;
    margin-bottom: auto;
}

.planPrice h6{
    cursor: pointer;
    margin-top: 40px;
    color: #fe0606;
    font-size: 14px;
}

.bgPrice {
    width: 234px;
    height: 332px;
    border: #FEB206 solid 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 29px;
}

.buttonPrice {
    width: 200px;
    height: 35px;
    margin: auto;
}

.buttonPrice button {
    margin-top: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    background-color: #00000000;
    border: #fe0606 solid 2px;
}

.buttonPrice :hover {
    background-color: #fe0606;
}

.photo {
    width: 1049px;
    height: 588px;
    margin: auto;
}

.titlePhoto {
    text-align: center;
    margin-top: 70px;
}

.titlePhoto h2 {
    margin-top: 10px;
}

.titlePhoto h4 {
    font-size: 28px;
    color: #FEB206;
    margin: 15px auto 30px;
}

.photoClass {
    display: inline-block;
    flex-direction: column;
    width: 273px;
    height: 273px;
    margin-left: 56px;
}

.squarePhoto {
    position: absolute;   
    transform: translate(-40%, 40%);
    margin-top: -96px;
    margin-left: 96px;
    width: 266px;
    height: 266px;
    border: #FEB206 solid 3px;
}

.photoClass h2 {
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #FEB206;
    font-size: 22px;
    font-weight: 700;
}

.textPhoto {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}

.schedule {
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 348px;
    background-image: url(imagens/Schedule.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.schedule h1 {
    color: #fff;
    width: 438px;
    height: 69px;
    font-size: 34px;
    font-weight: 500;
    margin: 59px;
}

.schedule button{
    width: 270px;
    height: 60px;
    background-color: #FEB206;
    font-size: 18px;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    margin: 59px;
    color: #fff;
    cursor: pointer;
}

.teachers {
    width: 100%;
    height: 750px;
    background-color: #322C36;
    text-align: center;
    padding-top: 90px;
    margin: 0;
}

.teachers h4 {
    color: #fff;
    text-transform: capitalize;
    margin: 15px;
}

.teachers h2 {
    color: #FEB206;
    text-transform: capitalize;
    margin: 0;
}

.teachers p {
    color: #fff;
    width: 684px;
    height: 60px;
    margin: 30px auto 90px auto;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.photoTeachers {
    display: flex;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
    width: 1180px;
}

.squareTeachers {
    width: 200px;
    height: 200px;
    position: absolute;
    border: #FEB206 solid 3px;
    margin-top: 15px;
    margin-left:  15px;
}

.photoTeachers img {
    width: 210px;
    height: 210px;
    margin: 0px 30px 0px 30px;
}

.photoTeachers h3 {
    color: #FEB206;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
}

.form {
    display: flex;
    width: 950px;
    height: 500px;
    background-color: #FEB206;
    margin: 90px auto;
    border-radius: 10px ;
    color: #050505;
    background-image: url(imagens/vector.png);
    background-size: initial;
    background-repeat: no-repeat;
}

.titleForm {
    margin-left: 60px;
    margin-top: 90px;
    text-align: center;
    text-transform: capitalize;
}

.titleForm h6 {
    margin: 10px;
}

.titleForm h5 {
    margin: 15px;
    font-size: 28px;
    color: #FEB206;
}

.titleForm h1 {
    width: 350px;
    font-size: 34px;
    color: #000000;
}

.titleForm h3 {
    margin-top: 60px;
    font-size: 34px;
    color: #FEB206;
}

.modalityForm {
    display: inline-block;
    margin: 0px 80px 15px auto;
    width: 300px;
    height: 400px;
}

.modalityForm h1 {
    text-align: center;
    text-transform: uppercase;
}

.contactForm {
    margin-top: -10px;
    font-size: 18px;
    color: #000;
}

.contactForm input {
    margin-bottom: 10px;
    margin-top: 3px;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: #f5dfac solid 3px;
    box-sizing: border-box;
}

.contactForm select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #8d8d8d;
    border-bottom: #f5dfac solid 3px;
    background-color: transparent;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contactForm .buttonForm {
    margin-top: 10px;
    margin-left: 30%;
    padding-left: 10px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contact {
    position: absolute;
    transform: translate(28%, 0);
    margin-top: 0 auto;
    width: 958px;
    height: 361px;
    background-color: #252127;
}

.squareContact {
    border: #FEB206 solid 2px;
    background-color: transparent;
    width: 370px;
    height: 331px;
    margin: 14px 15px;
}

.contact p {
    display: flex;
    flex-direction: row;
    margin: 30px auto 15px auto;
    width: 279px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
}

.contact span {
    font-size: 34px;
    margin: -10px 90px;
    color: #FEB206;
    font-weight: 500;
}

.contact i {
    color: #FEB206;
    margin-bottom: -10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.contact iframe{
    position: absolute;
    transform: translate(75%, -105%);
    width: 540px;
    height: 331px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    width: 100%;
    height: 767px;
    background-color: #322C36;
}

.footer img {
    margin-top: 300px;
}

.footer h1 {
    justify-content: center;
    font-size: 40px;
    text-align: center;
    color: #FEB206;
    width: 100%;
    height: 150px;
    background-color: #252127;
    margin-bottom: 0;
    text-transform: capitalize;
}

.circleWhats {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-color: #3CE203;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.circleWhats img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
}