@media screen and (max-width:1584px) {

    #menu_principal {
        float: right;
        margin-right: 120px;
    }

    .list a {
        font-size: 24px;
    }
}

@media screen and (max-width:1280px) {

    .contato {
        font-size: 14px;
    }
    .list a{
        font-size: 16px;
    }

    .hero {
        width: 80%;
    }

    .plans {
        height: 90%;
    }

    .type {
        margin-bottom: 90px;
    }

    .type {
        margin-left: 4%;
    }

    .type_plan {
        width: 200px;
        height: 400px;
    }

    .text_type {
        width: 150px;
        height: 60px;
        font-size: 24px;
    }

    .type_plan h1 {
        padding-top: 50px;
    }

    .plan_check li {
        margin: auto 12%;
    }

    .btn_plan {
        width: 150px;
        font-size: 18px;
    }

    .accordion_txt {
        width: 450px;
    }

    .accordion_txt summary{
        font-size: 18px;
        width: 450px;

    }

    .footer {
        font-size: 20px;
        height: 50px;
    }
}

@media screen and (max-width:1024px) {

    #menu_principal, .contato {
        display: none;
    }

    #menu_icon {
        font-size: 80px;
    }

    .hero {
        width: 80%;
        margin-bottom: 50px;
    }
    
    .hero h1 {
        width: 290px;
        font-size: 40px;
        margin-bottom: 0;
        height: 190px;
    }

    .hero h4 {
        width: 400px;
        margin-top: 0;
    }
    
    .cell_hero img {
        width: 250px;
    }

    .plans {
        height: 100vh;
    }

    .plan {
        width: 80%;
    }

    .type {
        display: inline-block;
        flex-wrap: wrap;
        margin: 60px 90px 30px;
    }

    .accordion_container {
        margin-bottom: 60px;
    }
    
    .accordion {
        width: 65%;
        display: block;
        margin: auto;
    }

    .footer {
        font-size: 18px;
        height: 40px;
        text-align: center;
        margin: auto;
        padding: 0;
    }
}

@media screen and (max-width:992px) {

    .hero {
        width: 80%;
        margin: 60px auto;
    }

    .hero h4 {
        width: 350px;
        font-size: 16px;
    }

    .plan {
        width: 90%;
        height: 100vh;
    }

    .accordion {
        width: 80%;
    }

}

@media screen and (max-width:600px) {
    
    .logo {
        margin: 1.5rem;
        width: 6.5rem;
    }

     #menu_icon {        
        margin: 0.1rem -25%;
        font-size: 5rem;
    }

    .logo_menu {
        width: 6rem;
        margin: auto auto 1rem;
    }

    .itens_link h1 {
        margin-left: 1.5rem;
    }

    .itens_link {
        width: 100%;
        right: 0;
        top: 0;
        font-size: 1.5em;
        padding-top: 1rem;
    }

    .link a {
        justify-content: center;
        height: 1.6rem;
        font-size: 1.3rem;
    }

    .hero {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .hero h1 {
        width: 400px;
        margin: 60px auto 30px;
        height: 100px;
    }

    .hero h4 {
        margin: 0 auto 30px;
        width: 300px;
        height: 100px;
        font-size: 1rem;
    }

    .cell_hero {
        margin: auto;
    }

    .cell_hero img {
        width: 200px;
    }

    .plans {
        height: 2150px;
    }

    .text_plan {
        width: 300px;
    }

    .text_plan h1 {
        font-size: 28px;
    }

    .text_plan h5 {
        width: 200px;
        font-size: 1.2rem;
        margin: auto;
        margin-bottom: 40px;
    }

    .type {
        margin-top: 20px;
        margin-left: 23%;
    }

    .accordion_container {
        width: 80%;
    }

    .title_accordion{
        width: 60%;
        margin-bottom: 30px;
    }

    .accordion_container img {
        width: 85px;
        height: 75px;
    }

    .title_accordion h3 {
        font-size: 24px;
        margin-top: -15px;
    }

    .accordion {
        padding-left: 0;
    }

    .accordion_txt {
        width: 250px;
    }
   
    .accordion_txt summary {
        width: 230px;
    }

    .accordion_txt p {
        width: 250px;
        font-size: 14px;

    }

    .circleWhats {
        width: 2rem;
        height: 2rem;
        position: fixed;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .circleWhats img {
        width: 1.4rem;
        height: 1.4rem;
        margin-top: 0.3rem;
        margin-left: 0.3rem;
    }
}